.text-input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 220px;
  height: 30px;
  margin-bottom: 12px;
}

.text-input:disabled {
  background-color: #a09e9e;
}

.timer {
  display: flex;
  max-width: 250px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.value {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
.label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.start-btn {
  width: 70px;
  height: 30px;
  background-color: #a5b0f3;
}

.start-btn:disabled {
  background-color: #a09e9e;
}
